<!-- @format -->

{% extends 'core/base.html' %}
<!---->
{% block conten %}
<title>{% block title %}Acerca de{% endblock %}</title>

<!-- Cabecera -->
<header
  class="masthead"
  style="background-image: url('../../static/img/main.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-15 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Acerca de Maderas del Tolioma</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contenido Principal -->
<div class="container">
  <div class="row">
    <!--

      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="../../static/img/avatar.jpg" alt="" />
      </div>
    -->
    <div class="col-lg-9 col-md-8" style="margin: auto">
      <h2 class="section-heading">Bienvenido a nuestra fábrica de maderas</h2>
      <p>
        Donde nos enorgullece ofrecer productos de alta calidad y durabilidad.
      </p>
      <p>
        Somos una empresa especializada en la producción de una amplia gama de
        productos de madera, desde tablones y vigas hasta puertas y ventanas.
        Nuestro equipo de profesionales altamente capacitados y experimentados
        utiliza las últimas tecnologías y herramientas de corte y acabado para
        garantizar que nuestros productos sean precisos, confiables y hermosos.
      </p>
      <p>
        Nos aseguramos de utilizar solo maderas de alta calidad, provenientes de
        fuentes sostenibles, para garantizar que nuestros productos sean
        resistentes y duraderos. También nos esforzamos por ser lo más
        ecológicos posible y reducir nuestro impacto ambiental al reciclar y
        reutilizar materiales siempre que sea posible.
      </p>
      <p>
        Nuestra fábrica cuenta con instalaciones modernas y bien equipadas, lo
        que nos permite satisfacer cualquier demanda de nuestros clientes, desde
        pequeños pedidos hasta grandes proyectos de construcción. Además,
        trabajamos en estrecha colaboración con nuestros clientes para
        garantizar que sus necesidades y requisitos se cumplan completamente.
      </p>
      <p>
        En resumen, si está buscando productos de madera de alta calidad y una
        empresa confiable y comprometida con la calidad y la sostenibilidad, no
        busque más allá de nuestra fábrica de maderas. Estamos comprometidos con
        la satisfacción del cliente y la entrega de productos de primera clase a
        precios competitivos. ¡Esperamos tener la oportunidad de trabajar con
        usted!
      </p>
    </div>
  </div>
</div>

{% endblock %}
