<!-- @format -->
{% extends 'core/base.html' %}
<!---->
{% block conten %}
<title>{% block title %}Contacto{% endblock %}</title>
<header
  class="masthead"
  style="background-image: url('../../static/img/main.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Contáctanos</h1>
          <span class="subheading">Asesoría</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contenido Principal -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        ¡Gracias por considerar nuestra fábrica de maderas! Si tiene alguna
        pregunta o desea obtener más información sobre nuestros productos o
        servicios, no dude en ponerse en contacto con nosotros.
      </p>
      <p>
        Puede comunicarse con nosotros a través de nuestro número de teléfono
        principal o enviarnos un correo electrónico a nuestra dirección de
        correo electrónico de contacto. También puede visitarnos en nuestras
        instalaciones, donde estaremos encantados de mostrarle nuestro proceso
        de producción y discutir cualquier proyecto o necesidad específica que
        tenga.
      </p>
      <p>
        Nos esforzamos por brindar un excelente servicio al cliente, por lo que
        siempre estamos disponibles para responder sus preguntas y proporcionar
        cualquier asistencia que necesite. Esperamos tener la oportunidad de
        trabajar con usted y ayudarlo a encontrar la solución perfecta de madera
        para sus necesidades. ¡Contáctenos hoy mismo!
      </p>
      <h2>Información de contacto:</h2>
      <ul>
        <li>Teléfono: 555-1234</li>
        <li>Correo electrónico: info@fabricademaderas.com</li>
        <li>Dirección: Calle Principal 1234, Ciudad, Estado, País</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
