<!-- @format -->

{% extends 'core/base.html' %}
<!---->
{% load static %}
<!---->

{% block conten %}
<title>{% block title %}Home{% endblock %}</title>
<header
  class="masthead"
  style="background-image: url('../../static/img/main.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Maderas del Tolima</h1>
          <span class="subheading">Los mejores de la industria</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
